[buildout]
develop = .
parts = interpreter test
extends = http://svn.zope.org/*checkout*/groktoolkit/trunk/grok.cfg

[versions]
grokcore.layout =

[interpreter]
recipe = zc.recipe.egg
eggs = grokcore.layout
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = grokcore.layout [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c', '--package=grokcore.layout']

